<ion-header class="mobile-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ titleTest }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <ion-badge class="badge" color="frese" *ngIf="getItems().length>0">
          <div class="badge-text">
            {{getTotalQuantity()}}
          </div>
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-row class="customColor header ion-align-items-center">
  <ion-col class="fullCol" size="2">
    <img class="photo" src="../../../assets/images/freseLogo.png">
  </ion-col>
  <ion-col size="8" class="ion-text-left">
    <ion-button #productbtn (mouseenter)="dropdown=true" (mouseleave)="hideDropdown($event)" class="menuButton" fill="clear" routerLink="/specials" routerDirection="root" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact:true}">
      <ion-icon slot="end" [name]="dropdown ? 'chevron-down' : 'chevron-up'"></ion-icon>
      Specials
    </ion-button>
    <div *ngIf="dropdown" class="dropdown" (mouseleave)="dropdown = false" #dropdownbox>
      <div *ngFor="let special of specialsItems">
      <ion-item [disabled]="orderService.specialContainsAllProducts(special.special)"(click)="dropdown = false" [routerLink]="[special.url]" lines="none">
        {{special.title}}
      </ion-item>
      </div>
    </div>
    <ion-button [disabled]="orderService.menuContainsAllProducts()" class="menuButton" fill="clear" routerLink="/frese-bakery" routerDirection="root" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact:true}">
      Order Now
    </ion-button>
<!--    <ion-button class="menuButton" fill="clear" routerLink="/home" routerDirection="root" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact:true}">-->
<!--      Home-->
<!--    </ion-button>-->
    <ion-button class="menuButton" fill="clear" routerLink="/calendar" routerDirection="root" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact:true}">
      Calendar
    </ion-button>
  </ion-col>
  <ion-col class="fullCol" size="2">
    <ion-buttons class="buttons">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <ion-badge class="badge" color="frese" *ngIf="getItems().length>0">
          <div class="badge-text">
            {{getTotalQuantity()}}
          </div>
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-col>
</ion-row>
