  <ion-menu contentId="main" menuId="myMenu">
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
<!--      <ion-list id="inbox-list">-->
<!--        <img class="logo" src="../../assets/images/freseLogo.png">-->

<!--        <ion-label>Version: 1.0.23</ion-label>-->
      <ion-menu-toggle *ngFor="let p of specialItems; let i = index">
        <ion-item [disabled]="orderService.specialContainsAllProducts(p.special)"button (click)="updateTitle(p.url)" class="iconColor" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}">
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>

      <ion-item [disabled]="orderService.menuContainsAllProducts()"button (click)="updateTitle('/frese-bakery')" class="iconColor" routerDirection="root" [routerLink]="'/frese-bakery'" lines="none" detail="false" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}">
        <ion-icon slot="start" [ios]="'home-outline'" [md]="'home-sharp'"></ion-icon>
        <ion-label>Order Now</ion-label>
      </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
      <ion-item button (click)="updateTitle('/calendar')" class="iconColor" routerDirection="root" [routerLink]="'/calendar'" lines="none" detail="false" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}">
        <ion-icon slot="start" [ios]="'calendar-outline'" [md]="'calendar-sharp'"></ion-icon>
        <ion-label>Calendar</ion-label>
      </ion-item>
      </ion-menu-toggle>
<!--      </ion-list>-->

      <!--        <ion-list id="labels-list">-->
      <!--          <ion-list-header>Labels</ion-list-header>-->

      <!--          <ion-item *ngFor="let label of labels" lines="none">-->
      <!--            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>-->
      <!--            <ion-label>{{ label }}</ion-label>-->
      <!--          </ion-item>-->
      <!--        </ion-list>-->
    </ion-content>
  </ion-menu>

  <app-header [titleTest]="titleTest"></app-header>
  <ion-router-outlet id="main">

  </ion-router-outlet>
