<div class="full">
  <div class="ion-page" id="main">
    <ion-content *ngIf="getSpecialStatus() == 'active'" color="light">
              <ion-grid class="products-ion-grid">
                <ion-row class="ion-justify-content-center">
                  <ion-col class="col" size="12" size-sm="6" size-md="3" size-lg="3" size-xl="2" *ngFor="let item of this.specialsProductsService.specials[this.SPECIAL_ID]?.getProducts()">
                    <ion-card class="item-row">
                      <ion-img class="item-image" *ngIf="item.photoUrl; else noPhoto" [src]="item.photoUrl"></ion-img>
                      <ng-template #noPhoto>
                        <ion-img class="item-image" src="assets/images/pizza.jpg"></ion-img>
                      </ng-template>
                      <ion-card-header>
                        <ion-card-title>{{item.title}}</ion-card-title>
                        <ion-card-subtitle>{{item.description}}</ion-card-subtitle>
                        <!--                      <ion-card-subtitle *ngIf="item.price">${{item.price}}</ion-card-subtitle>-->
                        <ion-card-subtitle>Price: ${{displayAmount(this.orderService.getItemCost(item))}}</ion-card-subtitle>
                        <ion-card-subtitle *ngIf="item.quantity > 0">Amount left: {{item.quantity}}</ion-card-subtitle>
                        <ion-card-subtitle class="soldout" *ngIf="item.quantity === 0">SOLD OUT</ion-card-subtitle>
                      </ion-card-header>
                      <ion-list *ngIf="item.product_sizes.length > 0">
                        <div class="subText">Select a Size</div>
                        <ion-select [(ngModel)]="item.product_size_selected"
                                    placeholder="{{item.product_size_selected}}">
                          <ion-select-option *ngFor="let v of item.product_sizes" [value]="v">
                            <ion-label>{{v.size}}</ion-label>
                          </ion-select-option>
                        </ion-select>
                      </ion-list>
                      <ion-list *ngIf="hasSelections(item)">
                        <div class="subText">Selections</div>
                        <div class="select-opt" *ngFor="let selectionKey of selectionKeys(item)">
                          <ion-select 
                          *ngIf="hasSelections(item)"
                          [(ngModel)]="item.product_selection_values[selectionKey][getSizeKey(item)].selected"
                                      [placeholder]="selectionKey">
                            <ion-select-option *ngFor="let v of getSelectionOptionsArray(item, selectionKey)"
                                               [value]="v">
                              {{v.value}}
                              <br>
                              <p *ngIf="v.cost">${{displayAmount(v.cost)}}</p>
                            </ion-select-option>
                          </ion-select>
                        </div>
                      </ion-list>
                      <ion-list *ngIf="hasAddOns(item)">
                        <div class="subText">Extras</div>
                        <div class="select-opt" *ngFor="let addOnKey of addOnKeys(item)">
                          <ion-select multiple=true
                          *ngIf="hasAddOnValues(item, addOnKey)"
                          [(ngModel)]="item.product_add_on_values[addOnKey][getSizeKey(item)].selected"
                          (ngModelChange)="onAddOnChange(item, addOnKey, $event)"
                          [placeholder]="addOnKey">
                          
                          <ion-select-option
                            *ngFor="let v of getAddOnOptions(item, addOnKey)"
                            [value]="v">
                            {{ v.value }}
                            <br>
                            <p *ngIf="v.cost">${{ v.cost }}</p>
                          </ion-select-option>
                        </ion-select>
                        
                        
                        
                        
                        </div>
                      </ion-list>
                      <ion-button class="fancy-button" disabled="{{disableButton(item)}}" color='frese' (click)="addToCart(item)">Add to
                        Cart
                      </ion-button>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            <ng-template #loading>
              <ion-spinner name="lines"></ion-spinner>
            </ng-template>
    </ion-content>
    <ion-content *ngIf="getSpecialStatus() == 'noSpecial'" class="noSpecial" color="light">
      <h2>
      Sorry we don't have any special active currently! Please check our calendar for the next special!
      </h2>
    </ion-content>
    <ion-content *ngIf="getSpecialStatus() == 'sold out'" class="noSpecial" color="light">
      <h2>
        Sorry we are currently sold out of this special! Please check our calendar for upcoming specials
      </h2>
    </ion-content>
<!--    <ion-content *ngIf="specialLoading()" color="light">-->

<!--    </ion-content>-->
  </div>
</div>
